@charset "utf-8";

@font-face {
	font-family: 'Maven';
	src: url('maven.woff2') format('woff2 supports variations'), url('maven.woff2') format('woff2-variations'), url('maven.woff2') format('woff2');
	font-weight: 400 900;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Maven', sans-serif;
	font-weight: 450;
	font-size: 16px;
	background-color: #f1f1e9;
	color: #000;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

@media (max-width: 511px) {
	body {
		font-size: 3.25vw;
	}
}

#base {
	margin: 0 auto;
	padding: 1.5em;
	max-width: 64em;
}

strong {
	font-weight: 600;
}

a {
	text-decoration: none;
	color: red;
}

a[href^="http"]::before {
	content: '\2191';
	transform: rotate(45deg);
	display: inline-block;
	padding: 0 0.2em 0 0.2em;
}
.live-code a[href^="http"]::before {
	content: none;
}

nav {
	font-weight: 600;
}
nav a {
	display: block;
}

.subpage::before {
	content: "-";
	padding-right: 0.1em;
}


.page-index {
	display: none;
	margin-top: 0.25em;
	margin-bottom: 0.75em;
	color: #606060;
	font-size: 0.9em;
	line-height: 175%;
	font-weight: 450;
	text-align: right;
}




p, h1, h2, h3, h4, nav, ul {
	margin: 0;
	padding: 0;
	line-height: 150%;
}
nav,
nav p {
	line-height: 175%;
}

h1 {
	font-size: 2em;
	padding: 1.2em 0 0.5em 0;
	font-weight: 500;
}
h2 {
	margin-top: 1.4em;
	font-size: 1.65em;
	border-top: 1px #aaa solid;
	padding-top: 1.4em;
	padding-bottom: 0.75em;
	font-weight: 500;
}

h1 + h2 {
	border-top: 0;
	margin-top: 0;
}

h3 {
	padding-top: 0.5em;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: normal;
	color: #606060;
	font-weight: 450;
}
h4 {
	font-size: 1.25em;
	font-weight: normal;
	letter-spacing: 0.05em;
	cursor: pointer;
	position: relative;
	font-weight: 450;
}
h4::before {
	content: "+ ";
	font-weight: normal;
	color: red;
	width: 1.1rem;
	display: inline-block;
}
h4.open::before {
	content: "− ";
}


h1 + p,
h2 + p {
	margin-top: -0.5em;
}
h2 + .cols,
h2 + h3 {
	margin-top: -0.3em;
}

ul {
	list-style-type: none;
}

li {
	display: block;
	position: relative;
	padding-left: 1.2em;
}


li::before {
	content: "-";
	position: absolute;
	left: 0;
	top: 0;
}

p + p,
p + ul,
ul + p {
	margin-top: 1em;
}


samp {
	color: #606060;
	font-style: italic;
	font-family: monospace;
}
var {
	color: #606060;
	font-style: normal;
	font-family: monospace;
}

mark,
pre {
	background-color: #eee;
	padding: 0.25em 0.5em;
	margin: 0.25em 0;
}

mark {
	background-color: #ffedb7;
	display: block;
}

a * {
	color: inherit;
}


.info {
	margin: 0.25em 0 0.75em 1.1rem;
	border: 1px #aaa solid;
	overflow: hidden;
	padding: 1em;
	display: none;
}
.open + .info {
	display: block;
}

.info > * + :not(.info) {
	margin-top: 1em;
}
.info > .info + h4 {
	margin-top: 0;
}



.table {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-content: flex-start;
	align-content: flex-start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	
	line-height: 150%;
}

.table > div {
	width: calc(100% - 12em);
}
.table > div.th {
	width: 10em;
}

#sidebar {
	width: 13em;
	position: relative;
	top: -2em;
	left: -2em;
	background-color: white;
}
#index {
	padding: 2em 1.5em;
}
#logo {
	display: block;
	background: red url(hyper-3d.svg) center center no-repeat;
	background-size: cover;
}
#logo span {
	display: none;
}
#logo::before {
	content: "";
	display: block;
	padding-top: 100%;
}

@media (min-width: 1200px) {
	#sidebar {
		position: fixed;
		top: 0;
		left: 0;
	}
	#base {
		padding: 2.5em 1.5em 5em 15em;
	}
	
	.page-index {
		display: block;
	}
	
}

.live-code {
	position: relative;
	background-color: white;
}
.live-code textarea {
	display: block;
	border: 0;
	outline: 0;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	min-height: 5em;
	max-height: 90vh;
	box-sizing: border-box;
	height: 12.5em;
	color: #000;
	background-color: white;
	font-family: monospace;
	font-size: 1.1em;
}

button {
	border: 0;
	border-radius: 0;
	outline: 0;
	background-color: red;
	color: white;
	font-family: inherit;
	font-size: 1em;
	padding: 0.5em 1em;
	cursor: pointer;	
}
.output button {
	margin: 0.5em 0.5em 0 0.5em;
}

.live-code .run-code,
.live-code .edit-code {
	position: absolute;
	bottom: 1.5em;
	right: 1.5em;
	z-index: 10;
}
.live-code .output {
	display: none;
	padding: 1.5em;
	text-align: center;
	line-height: 150%;
}
.edit-code {
	display: none;
}
.show-output .output,
.show-output .edit-code {
	display: block;
}
.show-output textarea,
.show-output .run-code {
	display: none;
}

.live-code hyper-3d {
	width: 20em;
	margin: 0 auto 0 auto;
	outline: 1px cyan solid;
}



@media (min-width: 720px) {
		
	.cols {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		-webkit-align-items: flex-start;
		align-items: flex-start;
	}

	.cols > * {
		width: 46%;
	}

}

@media (max-width: 719px) {
	.cols > div + div {
		margin-top: 1em;
	}
}

#file-protocol-warning {
	font-weight: bold;
	border-left: 8px red solid;
	display: none;
}
.file-protocol #file-protocol-warning {
	display: block;
}

.file-protocol .run-code {
	cursor: not-allowed;
	opacity: 0.5;
}
